<div class="listItems-book">
    <div class="imageBook"><img src="<%= item.imgUrl %>" alt="<% item.title %>" width="250px"/></div>
    <div class="book-title"><span class="book-title"><%= item.title %></span><br><%= item.author %> </div>
    <div class="type"> <%= item.type %></div>
    <div class="description"><%= item.description %> </div>
    <div class="btn-book"><a href ="<%- link %><%- item.id %>" >More&nbsp;details</a></div>
</div>
