
<div class="listItems">
    <div class=rank><%= item.rank %></div>
    <div class="title"><span class="song-title"><%= item.title %></span><br><%= item.artist %> </div>
    <div class="stream-count"> <%= item.streams %> <br><span class="count">Streams</span></div>
    <div class="publicationDate"><span class="count">Publication date:</span> <%= item.publicationDate %> </div>
</div>
